.container {
  display: grid;
  grid-template-columns : 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 1em;
  column-gap: 1em;
  grid-template-areas: 
  "c p";
  text-align: center;
  color: white;
}

.con {
  grid-area: c;
}

.ph {
  grid-area: p;
}